@use "../../abstracts/" as *;

.destination {
  display: flex;

  padding: 4rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  margin: 0 8rem;

  &_header {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin: 0rem 4rem;

    &_left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      flex: 1 0 0;
      width: 59.5rem;
      height: 6.06rem;
      .hightlight {
        color: var(--Secondary, #f85e9f);
        font-family: "Circular Std";
        font-size: 1.4375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 1.725rem */
        letter-spacing: 0.2875rem;
        text-transform: uppercase;
      }
      .normal {
        color: var(--Grey-Scale-Black, #191825);
      }
    }
    &_right {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
      width: 14.5rem;
      height: 6.25rem;

      img {
        width: 6.25rem;
        height: 6.25rem;
      }
      .btn_left {
        width: 6.25rem;
        height: 6.25rem;
        position: relative;
      }
      .arrow {
        position: absolute;
        top: 2.39rem;
        left: 2.28rem;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
      }
    }
  }

  &_card_group {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;

    
  }
}
.card {
    display: flex;
    height: 35.9375rem;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border: none;

    img {
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 2rem 2rem 0rem 0rem;
    }

    &_content {
      display: flex;
      padding: 2rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      align-self: stretch;
      border-radius: 0rem 0rem 2rem 2rem;
      background: #fff;
      box-shadow: 0px 801px 224px 0px rgba(0, 0, 0, 0),
        0px 513px 205px 0px rgba(0, 0, 0, 0.01), 0px 288px 173px 0px rgba(0, 0, 0, 0.03),
        0px 128px 128px 0px rgba(0, 0, 0, 0.04), 0px 32px 71px 0px rgba(0, 0, 0, 0.05),
        0px 0px 0px 0px rgba(0, 0, 0, 0.05);

      &_derc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        align-self: stretch;

        &_1 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;

          .where {
            flex: 1 0 0;
            font-family: "Circular Std";
            font-size: 1.4375rem;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
          }
          .cost {
            color: var(--Secondary, #f85e9f);
            /* H6 */
            font-family: "Circular Std";
            font-size: 1.4375rem;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
          }
        }
        &_2 {
          color: var(--Secondary, #f85e9f);
          /* H6 */
          font-family: "Circular Std";
          font-size: 1.4375rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }
      }
    }
  }
  .card_content_star{
    display: flex;
align-items: center;
gap: 0.5rem;
.number{
    color: var(--Orange, #FF5722);
/* H6 */
font-family: "Circular Std";
font-size: 1.4375rem;
font-style: normal;
font-weight: 700;
line-height: 120%; 
}
  }
