@use "../../abstracts/" as *;


.testjmonials {
    position: absolute;
    height: 40.31rem;
    z-index: 2;
    display: flex;
   
    align-items: center;
    gap: 3.5rem;
   
    position: relative;

 
    &_main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.5rem;
      flex: 1 0 0;

      &_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        align-self: stretch;

        .content {
          align-self: stretch;
          color: var(--Secondary, #f85e9f);
          text-align: center;
          font-family: "Circular Std";
          font-size: 1.4375rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 1.725rem */
          letter-spacing: 0.2875rem;
          text-transform: uppercase;
        }
        h3 {
          align-self: stretch;

          color: var(--Grey-Scale-Black, #191825);
          text-align: center;

          /* H3 */
          font-family: "Circular Std";
          font-size: 2.75rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 3.3rem */
        }
      }

      .ellipse22 {
        width: 8rem;
        height: 8rem;
      }

      &_star {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        align-self: stretch;

        .top {
          align-self: stretch;
          color: var(--Orange, #ff5722);
          text-align: center;

          /* H5 */
          font-family: "Circular Std";
          font-size: 1.75rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 2.1rem */
          .normal {
            color: var(--Grey-Scale-Black-75, rgba(25, 24, 37, 0.75));

            /* H6 */
            font-family: "Circular Std";
            font-size: 1.4375rem;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
          }
        }
        .bot {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          gap: 1rem;
        }
      }

      &_decr {
        align-self: stretch;

        color: var(--Grey-Scale-Black-75, rgba(25, 24, 37, 0.75));
text-align: center;
font-family: "Circular Std";
font-size: 1.4375rem;
font-style: normal;
font-weight: 450;
line-height: 160%; /* 2.3rem */
      }
      .node{
        display: flex;
align-items: flex-start;
gap: 1.5rem;
      }
    }
   
    .btn_left {
        width: 6.25rem;
        height: 6.25rem;
        position: relative;
      }
      .arrow {
        position: absolute;
        top: 2.39rem;
        left: 2.28rem;
        width: 1.5rem;
        height: 1.5rem;
        flex-shrink: 0;
      } 
      .layer1{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    bottom: -15.5rem;
       
       .vector{
        width: 100%;
       }
    }
}
