<footer class="footer">
    <div class="logo_section">
        <div class="logo_section_top">
            <figure>
                <img src="./assets/icons/logo.svg" alt="logo" />
            </figure>
            <h2 class="logo_section_top_name">
                Travlog
            </h2>
        </div>
        <p class="logo_section_top_decr">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC.
        </p>
        <div class="logo_section_social_icons">
            <a href="#">
                <img src="assets/icons/facebook.svg" alt="">
            </a>
            <a href="#">
                <img src="assets/icons/tweet.svg" alt="">
            </a>
            <a href="#"> 
                <img src="assets/icons/instar.svg" alt="">
            </a>
        </div>
    </div>
    <div class="column">
        <h3 class="column_name">
            Company
        </h3>
        
            <div class="column_name_list">
                <a class="column_name_list_link" href="#">
                     About
                </a>
            </div>
            <div class="column_name_list">
                <a class="column_name_list_link"  href="#">
                     Career
                </a>
            </div>
            <div class="column_name_list">
                <a class="column_name_list_link" href="#">
                     Mobile
                </a>
            </div>
        
    </div>
    <div class="column">
        <h3 class="column_name">
            Contact
        </h3>
        
            <div class="column_name_list">
                <a class="column_name_list_link" href="#">
                     Why Travlog?
                </a>
            </div>
            <div class="column_name_list">
                <a class="column_name_list_link" href="#">
                     Partner with us
                </a>
            </div>
            <div class="column_name_list">
                <a class="column_name_list_link" href="#">
                     FAQ's
                </a>
            </div>
            <div class="column_name_list">
                <a class="column_name_list_link" href="#">
                     Blog
                </a>
            </div>
        
    </div>
    <div class="column">
        <h3 class="column_name">
            Meet Us
        </h3>
            <div class="column_name_list">
                +00 92 1234 56789
            </div>
            <div class="column_name_list">
                <a class="column_name_list_link" href="mailto:info@travlog.com ">
                    info@travlog.com
                </a>
            </div> 
            <div>
                205. R Street, New York
            </div>
            <div class="column_name_list">
                BD23200
            </div>
        
    </div> 
</footer> 
