<main>
    
        <!-- explore section  -->
         <img src="assets/icons/ellipse 23.svg" alt="" class="ellipse23">
         <section class="explore"> 
     
            <div class="explore_left"> 
                 <div class="explore_left_title">
                    <h6 class="explore_left_title_name">Explore The World</h6>
                    <img src="assets/icons/work 1.svg" alt="icon ">
               </div> 
               <div class="explore_left_content">
                    Travel <span class="highlight">top destination</span> 
                    <p>of the world</p> 
                </div>  
                <div class="explore_left_decr"> 
                    <h5 class="line1">We always make our customer happy by </h5>
                      <h5 class="line2"> providing </h5>
                    <h5>as many choices as possible</h5>
                </div> 
                <div class="explore_left_groupbutton">
                    <button class="btn btn_getstarted">Get started </button>
    
                    <button class="btn btn_watchdemo">
                       <img src="assets/icons/play-circle.5 1.svg" alt="watchdemo">
                        <h6 class="watchdemo">Watch demo</h6>
                    </button>
               </div> 
            </div>     
          
            <div class="explore_right">
                <div class="explore_right_layer">
                    <img src="assets/icons/earth.svg" alt="earth" class="earth">
                    <img src="assets/icons/location.svg" alt="location" class="location">
                    <img src="assets/icons/line2.svg" alt="line2" class="line2">
                    <img src="assets/icons/line1.svg" alt="line1" class="line1">
                    <img src="assets/icons/line3.svg" alt="line3" class="line3">
                    <img src="assets/icons/plane3.svg" alt="plane3" class="plane3">
                    <img src="assets/icons/plane2.svg" alt="plane2" class="plane2">
                    <img src="assets/icons/plane1.svg" alt="plane1" class="plane1">
                </div>
        
                <div class="explore_right_groupimg">
                    <div class="imgleft">
                       <img src="assets/images/desktop/rectangle1.png" alt="">
                       <img src="assets/images/desktop/rectangle2.png" alt="">
                    </div> 
                    <div class="imgright">
                        <img src="assets/images/desktop/rectangle3.png" alt="">
                    </div>       
                 
                   
            </div>  
            <div class="btn-send">   
                <img src="assets/icons/send 1.svg" alt="send" class="send1">
            </div>
             <div class="btn-adduser"> 
                <img src="assets/icons/add-user 1.svg" alt="adduser" class="adduser">
            </div> 
          
         <div class="topplace"> 
             <img src="assets/icons/location 1.svg" alt="location1" class="location1">
             <h6 class="topplace_text"> Top Places</h6>        
         </div>   

        </section>  

        <img src="assets/icons/ellipse 24.svg" alt="" class="ellipse24"/>
        <img src="assets/icons/objects(1).svg" alt="" class="objects1"/>

        <section class="colabration"> 
 
            <img src="assets/icons/group.svg" alt="">
            <img src="assets/icons/group 2.svg" alt="">
            <img src="assets/icons/group(1).svg" alt="">
            <img src="assets/icons/group 9235.svg" alt="">
            <img src="assets/icons/group 3.svg" alt="">

        </section>

        <section class="services">
            <div class="services_text">
                <h4>Services</h4>
                <h3>Our top value categories for you</h3>
            </div>   
            <div class="card_group"> 
                <div class="card">
                    <img alt="Icon representing Best Tour Guide"  src="assets/icons/destination 1.svg" />
                        <h5>Best Tour Guide</h5>
                    <p>What looked like a small patch of purple grass, above five feet.</p>
                </div>  
                <div class="card1">
                    <img alt="Icon representing Best Tour Guide"  src="assets/icons/booking 1.svg" />
                        <h5>Easy Booking</h5>
                    <p>Square, was moving across the sand in their direction.</p>
                </div> 
                <div class="card"> 
                    <img alt="Icon representing Best Tour Guide"  src="assets/icons/cloudy 1.svg" />
                        <h5>Weather Forecast</h5>
                    <p>What looked like a small patch of purple grass, above five feet.</p>
                </div>
            </div>

        </section>

        
</main>