<main>
    
        <!-- explore section  -->
         <img src="assets/icons/ellipse 23.svg" alt="" class="ellipse23">
         <section class="explore"> 
     
            <div class="explore_left"> 
                 <div class="explore_left_title">
                    <h6 class="explore_left_title_name">Explore The World</h6>
                    <img src="assets/icons/work 1.svg" alt="icon ">
               </div> 
               <div class="explore_left_content">
                    Travel <span class="highlight">top destination</span> 
                    <p>of the world</p> 
                </div>  
                <div class="explore_left_decr"> 
                    <h5 class="line1">We always make our customer happy by </h5>
                      <h5 class="line2"> providing </h5>
                    <h5>as many choices as possible</h5>
                </div> 
                <div class="explore_left_groupbutton">
                    <button class="btn btn_getstarted">Get started </button>
    
                    <button class="btn btn_watchdemo">
                       <img src="assets/icons/play-circle.5 1.svg" alt="watchdemo">
                        <h6 class="watchdemo">Watch demo</h6>
                    </button>
               </div> 
            </div>     
          
            <div class="explore_right">
                <div class="explore_right_layer">
                    <img src="assets/icons/earth.svg" alt="earth" class="earth">
                    <img src="assets/icons/location.svg" alt="location" class="location">
                    <img src="assets/icons/line2.svg" alt="line2" class="line2">
                    <img src="assets/icons/line1.svg" alt="line1" class="line1">
                    <img src="assets/icons/line3.svg" alt="line3" class="line3">
                    <img src="assets/icons/plane3.svg" alt="plane3" class="plane3">
                    <img src="assets/icons/plane2.svg" alt="plane2" class="plane2">
                    <img src="assets/icons/plane1.svg" alt="plane1" class="plane1">
                </div>
        
                <div class="explore_right_groupimg">
                    <div class="imgleft">
                       <img src="assets/images/desktop/rectangle1.png" alt="">
                       <img src="assets/images/desktop/rectangle2.png" alt="">
                    </div> 
                    <div class="imgright">
                        <img src="assets/images/desktop/rectangle3.png" alt="">
                    </div>       
                 
                   
            </div>  
            <div class="btn-send">   
                <img src="assets/icons/send 1.svg" alt="send" class="send1">
            </div>
             <div class="btn-adduser"> 
                <img src="assets/icons/add-user 1.svg" alt="adduser" class="adduser">
            </div> 
          
         <div class="topplace"> 
             <img src="assets/icons/location 1.svg" alt="location1" class="location1">
             <h6 class="topplace_text"> Top Places</h6>        
         </div>   

        </section>  

        <img src="assets/icons/ellipse 24.svg" alt="" class="ellipse24"/>
        <img src="assets/icons/objects(1).svg" alt="" class="objects1"/>

        <section class="colabration"> 
 
            <img src="assets/icons/group.svg" alt="">
            <img src="assets/icons/group 2.svg" alt="">
            <img src="assets/icons/group(1).svg" alt="">
            <img src="assets/icons/group 9235.svg" alt="">
            <img src="assets/icons/group 3.svg" alt="">

        </section>

        <section class="services">
            <div class="services_text">
                <h4>Services</h4>
                <h3>Our top value categories for you</h3>
            </div>   
            <div class="card_group"> 
                <div class="card2">

                    <img alt="Icon representing Best Tour Guide"  src="assets/icons/destination 1.svg" />
                        <h5>Best Tour Guide</h5>
                    <p>What looked like a small patch of purple grass, above five feet.</p>
                </div>  
                <div class="card1">
                    <img alt="Icon representing Best Tour Guide"  src="assets/icons/booking 1.svg" />
                        <h5>Easy Booking</h5>
                    <p>Square, was moving across the sand in their direction.</p>
                </div> 
                <div class="card2"> 

                    <img alt="Icon representing Best Tour Guide"  src="assets/icons/cloudy 1.svg" />
                        <h5>Weather Forecast</h5>
                    <p>What looked like a small patch of purple grass, above five feet.</p>
                </div>
            </div>

        </section>
 
        <section class="destination">
            <div class="destination_header">
                <div class="destination_header_left">
                    <h3 class="hightlight">TOP DESTINATION</h3>
                    <h3 class="normal">Explore top destination</h3>
                </div> 
                <div class="destination_header_right">
                    <img src="assets/icons/group 9237.svg" alt="">
                    <div class="btn_left">
                        <img src="assets/icons/rectangle 5.svg" alt="">
                        <img src="assets/icons/arrow-left 2.svg" alt="" class="arrow">
                    </div>
                </div>  
            </div>
            <div class="destination_card_group">
                <div class="card">
                    <img src="assets/images/desktop/rectangle61.png" alt="">
                    <div class="card_content">
                        <div class="card_content_derc">
                            <div class="card_content_derc_1">
                                   <h6 class="where">
                                    Paradise Beach, Bantayan Island
                                   </h6>
                                   <h6 class="cost">
                                    $550.16
                                   </h6>
                            </div>
                            <div class="card_content_derc_2">
                                Rome, Italy
                            </div>
    
                        </div>
                        <div class="card_content_star">
                            <h6 class="number">4.8</h6>
                            <img src="assets/icons/star 1.svg" alt="">
                        </div>
                   </div>
                </div>    

                <div class="card">
                    <img src="assets/images/desktop/rectangle62.png" alt="">
                    <div class="card_content">
                        <div class="card_content_derc">
                            <div class="card_content_derc_1">
                                   <h6 class="where">
                                    Ocean with full of Colors
                                   </h6>
                                   <h6 class="cost">
                                    $20.99 
                                </h6>
                            </div>
                            <div class="card_content_derc_2">
                                Maldives
                            </div>
    
                        </div>
                        <div class="card_content_star">
                            <h6 class="number">4.5</h6>
                            <img src="assets/icons/star 1.svg" alt="">
                        </div>
                   </div>
                    
                </div>
                <div class="card">
                    <img src="assets/images/desktop/rectangle63.png" alt="">
                    <div class="card_content">
                        <div class="card_content_derc">
                            <div class="card_content_derc_1">
                                   <h6 class="where">
                                    Mountain View, Above the cloud
                                   </h6>
                                   <h6 class="cost">
                                    $150.99 
                                   </h6>
                            </div>
                            <div class="card_content_derc_2">
                                United Arab Emeries
                            </div>
    
                        </div>
                        <div class="card_content_star">
                            <h6 class="number">5.0</h6>
                            <img src="assets/icons/star 1.svg" alt="">
                        </div>
                   </div>
                    
                </div>
            </div>           
        </section> 

        <section class="travelpoint">
           <img src="assets/images/desktop/group9238.png" alt="" >
           <div class="travelpoint_content">
               <div class="travelpoint_content_header">
                   <div class="travelpoint_content_header_text">
                        <h5 >
                            Travel Point
                        </h5>
                        <h3 > 
                            We helping you find your dream location
                        </h3>
                   </div>
                   <div class="travelpoint_content_header_decr">
                      <h6>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.
                      </h6>
                   </div>
               </div> 
               <div class="travelpoint_card">
                  <div class="travelpoint_card_element">
                      <div class="travelpoint_element">
                            <h4>500+</h4>
                            <h6>Holiday Package</h6>
                      </div>
                      <div class="travelpoint_element">
                        <h4>100</h4>
                        <h6>Luxury Hotel</h6>
                       </div> 
                    </div>
                  <div class="travelpoint_card_element">
                    <div class="travelpoint_element">
                        <h4>7</h4>
                        <h6>Premium Airlines</h6>
                  </div> 
                  <div class="travelpoint_element">
                    <h4>2k+</h4>
                    <h6>Happy Customer</h6>
              </div>
                  </div>  
               </div>
           </div>

        </section>

         
</main>
